<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wgutermapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".View.AssessmentListActivity"
            android:label="@string/title_assessment_list"
            android:parentActivityName=".View.CourseDetailActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wgutermapp.View.CourseDetailActivity" />
        </activity>
        <activity
            android:name=".View.AssessmentDetailActivity"
            android:label="@string/title_assessment_detail"
            android:parentActivityName=".View.AssessmentListActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wgutermapp.View.AssessmentListActivity" />
        </activity>
        <activity
            android:name=".View.CourseListActivity"
            android:label="@string/title_course_list"
            android:parentActivityName=".View.TermDetailActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wgutermapp.View.TermDetailActivity" />
        </activity>
        <activity
            android:name=".View.CourseDetailActivity"
            android:label="@string/title_course_detail"
            android:parentActivityName=".View.CourseListActivity"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wgutermapp.View.CourseListActivity" />
        </activity>
        <activity
            android:name=".View.TermListActivity"
            android:label="@string/title_term_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.TermDetailActivity"
            android:label="@string/title_term_detail"
            android:parentActivityName=".View.TermListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.wgutermapp.View.TermListActivity" />
        </activity>
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Util.MyReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>